.footer {
  background: #1f2937;
  color: white;
  padding: 1.5rem 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.left {
  flex: 1;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ff8500;
}

/* Social Icons */
.socials {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.3rem;
  color: white;
  background: #374151;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.icon:hover {
  background: #ff8500;
  color: white;
}

.section h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.2rem;
  color: #d1d5db;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }
}
.footerLogo {
  height: 45px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}
