.header {
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 0.75rem 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff8500;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.authBtn {
  padding: 0.4rem 1rem;
  background: #2563eb;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.logoImg {
  height: 45px;
  object-fit: contain;
}
